[submodule "knoxtokens"]
	path = knoxtokens
	url = git@github.com:jwc20/knoxtokens.git
	branch = submodule
[submodule "bncpy"]
	path = bncpy
	url = git@github.com:jwc20/bncpy.git
	branch = develop
[submodule "DbmlForDjango"]
	path = DbmlForDjango
	url = git@github.com:hamedsj/DbmlForDjango.git
	branch = master
